html {
  height: 100%;
  @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
  background-image: linear-gradient(#eeeeee, #e7e7e7);
  font-family: 'Gloria Hallelujah', cursive;
}

.App {
  text-align: center;
  height:100vh;
  width:100vw;
  background-color: transparent;
  background-image:
    linear-gradient(0deg, transparent 24%, #83bde7 25%, #83bde7 26%, transparent 27%, transparent 74%, #83bde7 75%, #83bde7 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, #83bde7 25%, #83bde7 26%, transparent 27%, transparent 74%, #83bde7 75%, #83bde7 76%, transparent 77%, transparent);
  background-size:50px 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
