.lesson {
  height: calc(100vh - 32px);
  position: relative;
}
.cartesian {
  position: relative;
  height: calc(100% - 150px);
  width: calc(100% - 250px);
  left:0;
  font-family: 'Gloria Hallelujah', cursive;
  float: left;
}

.y-axis {
  height: calc(100% - 40px);
  width: 3px;
  background-color: black;
  position: absolute;
  bottom: 20px;
  left: 60px;
}

.y-axis:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-bottom: 16px solid #000000;
  border-right: 16px solid transparent;
  position: absolute;
  top: -2px;
  left: -14px;
}
.y-axis-description {
  position: absolute;
  top: 30px;
  left: 70px;
}

.x-axis {
  width: calc(100% - 50px);
  height: 3px;
  background-color: black;
  position: absolute;
  left:30px;
  bottom: 50px
}
.x-axis:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 16px solid #000000;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  position: absolute;
  top: -12px;
  right: -14px;
}
.x-axis-description {
  position: absolute;
  bottom: 45px;
  right: 30px;
}

.board{
  height: calc(100% - 63px);
  width: calc(100% - 63px);
  position: relative;
  left: 63px;
  top: 10px;
}

.elements{
  //background-color: red;
  height: calc(100% - 150px);
  width: 250px;
  position: relative;
  top: 0;
  float: right;
  padding: 5px 20px;
  box-sizing: border-box;

}

.result {
  //background-color: green;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 20px 5px;
  box-sizing: border-box;
}
.drop-area{
  //background-color: blue;
  height: 100%;
  width: 100%;
}

h3 {
  margin-top: 0;
}